{% extends 'base.html.twig' %}
{% block header %}
<h1>Changer le mot de passe</h1>
{% endblock %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

    {% for flash in app.flashes('danger') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    <div class="container">
    <div class="form-container">
    <div class="form-group">{{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
        <button class="btn btn-primary mt-3">Changer</button>
    {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}
