{% extends 'base.html.twig' %}

{% block header %}
<header>
    <h1>
        Bienvenue, Infirmière {{ app.user.userIdentifier }}
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" 
           class="btn btn-outline-light btn-sm float-end me-4 mt-2">
           Se déconnecter
        </a>
    </h1>

    <form id="logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
    </form>
</header>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

     <div class="d-flex justify-content-between align-items-center mt-4">
        <h2>Planning des visites</h2>
        <a href="{{ path('indisponibilite_index') }}" class="btn btn-outline-secondary">
            📅 Mes indisponibilités
        </a>
    </div>

    <div class="text-end mb-4">
        <a href="{{ path('visite_add') }}" class="btn btn-primary">
            ➕ Ajouter une visite
        </a>
    </div>

    <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Patient</th>
                <th>Date prévue</th>
                <th>Durée</th>
                <th>Compte rendu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>
                    <td>{{visite.id}}</td>
                    <td>{{ visite.patient.idPersonne.nom ?? 'Inconnu' }} {{ visite.patient.idPersonne.prenom ?? 'Inconnu' }}</td>
                    <td>{{ visite.datePrevue|date('d-m-Y') }}</td>
                    <td>{{ visite.duree }} minutes</td>
                    <td>{{ visite.compteRenduInfirmiere ?: 'Aucun' }}</td>
                    <td class="text-center">
                        <a href="{{ path('visite_detail', {'id': visite.id}) }}" class="btn btn-sm btn-primary mb-1">
                            Consulter
                        </a>
                        <a href="{{ path('visite_edit', {'id': visite.id}) }}" class="btn btn-sm btn-primary mb-1">
                            Modifier
                        </a>
                        <a href="{{ path('visite_delete', {'id': visite.id}) }}" class="btn btn-sm btn-danger mb-1"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette visite ?');">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucune visite trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
